// general
$light-gray: rgb(152, 152, 152);
$dark-gray: rgb(33, 33, 33);
$bright-green: rgb(151, 226, 37);
$dark-red: rgb(194, 11, 11);

// items
$border-gray: rgb(111, 111, 111);
$item-text-color: rgb(62, 62, 62);

// fonts
$primary: 33px;
$secondary: 25px;